* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  text-align: center;
  padding: 2rem;
}

.todoForm {
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
}
.todoForm input,
.todoForm button {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 0px 2px 2px lightgray;
  border: none;
  /* border: 10x solid lightgray; */
}
.todoListWrap ul {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em 2em;
  padding-top: 1em;
}
.todoListWrap #todoList li {
  list-style: none;
  border: 1px solid grey;
  padding: 5px;
}
